/* App level theming */

/* background used for application */
.appBackground {
    background: rgba(62,165,206,1);
    background: -moz-linear-gradient(45deg, rgba(62,165,206,1) 57%, rgba(51,159,205,1) 57%, rgba(51,159,205,1) 72%, rgba(51,159,205,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(57%, rgba(62,165,206,1)), color-stop(57%, rgba(51,159,205,1)), color-stop(72%, rgba(51,159,205,1)), color-stop(100%, rgba(51,159,205,1)));
    background: -webkit-linear-gradient(45deg, rgba(62,165,206,1) 57%, rgba(51,159,205,1) 57%, rgba(51,159,205,1) 72%, rgba(51,159,205,1) 100%);
    background: -o-linear-gradient(45deg, rgba(62,165,206,1) 57%, rgba(51,159,205,1) 57%, rgba(51,159,205,1) 72%, rgba(51,159,205,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(62,165,206,1) 57%, rgba(51,159,205,1) 57%, rgba(51,159,205,1) 72%, rgba(51,159,205,1) 100%);
    background: linear-gradient(45deg, rgba(62,165,206,1) 57%, rgba(51,159,205,1) 57%, rgba(51,159,205,1) 72%, rgba(51,159,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea5ce', endColorstr='#339fcd', GradientType=1 );
    min-height: 100vh;
    height: 100%;
}